# Node modules
/node_modules/

# Build y distribución
/build/
/dist/

# Archivos fuente (si solo quieres subir el build final, descomenta la siguiente línea)
# /src/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales y logs
*.log
*.tmp

# Archivos de configuración de entorno
.env
.env.*

# Archivos de control de versiones de IDEs
.vscode/
.idea/

# Archivos de sistema de Mac
__MACOSX/

# Archivos de paquetes y lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Otros archivos de desarrollo
*.sh 